# Node dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.*

# Git
.git
.gitignore

# IDE files
.vscode
.idea
*.swp
*.swo

# Testing
coverage
.nyc_output

# Logs
logs
*.log

# Build files
dist
build

# Docker files
Dockerfile
.dockerignore

# Misc
.DS_Store
README.md
docs

# Data
data